@page
@model AppRazor.Pages.EditFriendModel
@{
    ViewData["Title"] = "Edit Friend";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="~/css/editFriend.css" asp-append-version="true" />

</head>

<body class="body">
    <div class="container px-4 py-4">
        <form id="friendForm" class="needs-validation" method="post" novalidate>
            <h2 class="pb-2 border-bottom" id="heading">
                @Model.PageHeader
                <button class="btn btn-primary-outline" type="submit" asp-page-handler="Save">
                    <i class="bi bi-floppy "></i>

                </button>
                <button class="btn btn-primary-outline" type="submit" asp-page-handler="Undo">
                    <i class="bi bi-arrow-counterclockwise "></i>


                </button>
            </h2>

            <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-3 py-4" id="mainBackground">
                <div class="col-md-12 col-lg-12" id="heading">

                    <input asp-for="PageHeader" value="@Model.PageHeader" type="hidden" />

                    @if (Model.ValidationResult.HasErrors)
                    {
                        <div class="row g-3">
                            @foreach (var item in Model.ValidationResult.ErrorMsgs)
                            {
                                <span class="alert alert-danger" role="alert">
                                    @item
                                </span>
                            }
                        </div>
                    }

                    <div class="row g-3">

                        <input asp-for="FriendInput.FriendId" type="hidden" />
                        <input asp-for="FriendInput.StatusIM" type="hidden" />
                        <input asp-for="FriendInput.Address.AddressId" type="hidden" />
                        <input asp-for="FriendInput.Address.StatusIM" type="hidden" />



                        <div class="col-sm-4">
                            <label for="friendFirstname" class="form-label">Firstname</label>
                            <input type="text" class="form-control" id="friendFirstname"
                                asp-for="FriendInput.FirstName">
                            <span asp-validation-for="FriendInput.FirstName" class="invalid-feedback"></span>
                        </div>

                        <div class="col-sm-4">
                            <label for="friendLastname" class="form-label">Lastname</label>
                            <input type="text" class="form-control" id="friendLastname" asp-for="FriendInput.LastName">
                            <span asp-validation-for="FriendInput.LastName" class="invalid-feedback"></span>
                        </div>

                        <div class="col-sm-4">
                            <label for="friendBirthday" class="form-label">Birthday</label>

                            <input type="date" class="form-control" id="friendBirthday" min="1920-01-01"
                                max="2025-12-31" asp-for="FriendInput.Birthday">
                            <span asp-validation-for="FriendInput.Birthday" class="invalid-feedback"></span>


                        </div>




                        <div class="row g-1">
                            <h3 class="pb-2">Address</h3>

                            <div class="row mb-2 align-items-center">

                                <input asp-for="FriendInput.Address.StatusIM" type="hidden" />
                                <input asp-for="FriendInput.Address.AddressId" type="hidden" />
                                <input asp-for="FriendInput.Address.Country" type="hidden" />
                                <input asp-for="FriendInput.Address.City" type="hidden" />
                                <input asp-for="FriendInput.Address.StreetAddress" type="hidden" />
                                <input asp-for="FriendInput.Address.ZipCode" type="hidden" />

                                <div class="col-md-10 addressRow test">
                                    <div class="row text-start ps-3">
                                        <div class="col-md-3"><strong>Street:</strong>
                                            @Model.FriendInput.Address.StreetAddress</div>
                                        <div class="col-md-2"><strong>Zip:</strong> @Model.FriendInput.Address.ZipCode
                                        </div>
                                        <div class="col-md-3"><strong>City:</strong> @Model.FriendInput.Address.City
                                        </div>
                                        <div class="col-md-2 countryDiv"><strong>Country:</strong>
                                            @Model.FriendInput.Address.Country</div>
                                    </div>
                                </div>


                                <div
                                    class="col-md-1 themed-grid-col buttonDiv d-flex justify-content-center align-items-center">
                                    @if (Model.FriendInput.Address.AddressId != Guid.Empty)
                                    {
                                        <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEditAddress_@Model.FriendInput.Address.AddressId">
                                            Edit
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-sm m-1" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEditAddress_@Model.FriendInput.Address.AddressId">
                                            New
                                        </button>
                                    }
                                </div>
                            </div>


                            <div class="collapse row mb-2 text-center"
                                id="collapseEditAddress_@Model.FriendInput.Address.AddressId">
                                <div class="col-md-10 test">
                                    <div class="row ps-3">
                                        <div class="form-floating col-md-3 themed-grid-col">
                                            <input asp-for="FriendInput.Address.editStreetAddress"
                                                class="form-control" />
                                            <label>Street Address</label>
                                             <span asp-validation-for="FriendInput.Address.editStreetAddress" class="invalid-feedback"></span>
                                        </div>
                                        
                                        <div class="form-floating col-md-2 themed-grid-col">
                                            <input asp-for="FriendInput.Address.editZipCode" class="form-control" />
                                            <label>Zipcode</label>
                                        </div>
                                        <div class="form-floating col-md-3 themed-grid-col">
                                            <input asp-for="FriendInput.Address.editCity" class="form-control" />
                                            <label>City</label>
                                             <span asp-validation-for="FriendInput.Address.editCity" class="invalid-feedback"></span>
                                        </div>
                                        <div class="form-floating col-md-2 themed-grid-col">
                                            <input asp-for="FriendInput.Address.editCountry" class="form-control" />
                                            <label>Country</label>
                                             <span asp-validation-for="FriendInput.Address.editCountry" class="invalid-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-md-1 themed-grid-col d-flex align-items-center justify-content-center buttonDiv">
                                    <button type="submit" asp-page-handler="EditAddress"
                                        asp-route-AddressId="@Model.FriendInput.Address.AddressId"
                                        class="btn btn-success btn-sm">
                                        Ok
                                    </button>
                                </div>
                            </div>
                        </div>










                        <div class="row g-1">
                            <h3 class="pb-2">Pets</h3>

                            <input type="hidden" name="PetId" data-seido-selected-item-id-target />

                            <div class="row mb-2 text-center">
                                <div class="col-md-10 themed-grid-head-col test"></div>
                                <div class="col-md-1 themed-grid-head-col buttonDiv">
                                    <button class="btn btn-success btn-sm m-1" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseAddPet">
                                        New
                                    </button>
                                </div>
                            </div>
                            <div class="collapse row mb-2 text-center" id="collapseAddPet">

                                <div class="col-md-10 d-flex test">
                                    <div class="form-floating col-md-3 themed-grid-col test">
                                        <input type="text" asp-for="FriendInput.NewPet.AnimalName" class="form-control"
                                            id="animalName" value="" />
                                        <span asp-validation-for="FriendInput.NewPet.AnimalName"
                                            class="invalid-feedback"></span>
                                        <label for="animalName">Name</label>
                                    </div>

                                    <div class="form-floating col-md-3 themed-grid-col test">
                                        <select asp-for="FriendInput.NewPet.AnimalKind" class="form-select"
                                            asp-items="Html.GetEnumSelectList<Models.Interfaces.AnimalKind>()">
                                            <option value="">Choose Kind</option>
                                        </select>
                                        <label for="FriendInput.Pets.AnimaKind">Animal Kind</label>
                                    </div>

                                    <div class="form-floating col-md-3 themed-grid-col moodDiv">
                                        <select asp-for="FriendInput.NewPet.AnimalMood" class="form-select"
                                            asp-items="Html.GetEnumSelectList<Models.Interfaces.AnimalMood>()">
                                            <option value="">Choose mood</option>
                                        </select>
                                        <label for="FriendInput.Pets.AnimalMood">Animal Mood</label>
                                    </div>
                                </div>

                                <div class="col-md-1 themed-grid-head-col buttonDiv">
                                    <button type="submit" asp-page-handler="AddPet" class="btn btn-success btn-sm m-1">
                                        Ok
                                    </button>
                                </div>
                            </div>

                            @for (int k = 0; k < Model.FriendInput.Pets.Count; k++)
                            {
                                <div
                                    class="row mb-2 text-center align-items-center @(Model.FriendInput.Pets[k].StatusIM == AppRazor.Pages.EditFriendModel.StatusIM.Deleted ? "d-none" : null)">

                                    <input asp-for="FriendInput.Pets[k].StatusIM"
                                        value="@Model.FriendInput.Pets[k].StatusIM" class="form-control" type="hidden" />
                                    <input asp-for="FriendInput.Pets[k].PetId" value="@Model.FriendInput.Pets[k].PetId"
                                        class="form-control" type="hidden" />
                                    <input asp-for="FriendInput.Pets[k].AnimalName"
                                        value="@Model.FriendInput.Pets[k].AnimalName" class="form-control" type="hidden" />
                                    <input asp-for="FriendInput.Pets[k].AnimalMood"
                                        value="@Model.FriendInput.Pets[k].AnimalMood" class="form-control" type="hidden" />
                                    <input asp-for="FriendInput.Pets[k].AnimalKind"
                                        value="@Model.FriendInput.Pets[k].AnimalKind" class="form-control" type="hidden" />

                                    <div class="col-md-9 addressRow test">
                                        <div class="row text-start ps-3">

                                            <div class="col-md-3 themed-grid-col petRow"><strong>Name:</strong>
                                                @Model.FriendInput.Pets[k].AnimalName</div>
                                            <div class="col-md-3 themed-grid-col petRow"><strong>Kind:</strong>
                                                @Model.FriendInput.Pets[k].AnimalKind</div>
                                            <div class="col-md-4 themed-grid-col petRow"><strong>Mood:</strong>
                                                @Model.FriendInput.Pets[k].AnimalMood</div>

                                        </div>
                                    </div>

                                    <div class="col-md-2 themed-grid-col buttonDiv">
                                        <button class="btn btn-secondary btn-sm m-1" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEditPet_@Model.FriendInput.Pets[k].PetId"
                                            data-seido-selected-item-id="@Model.FriendInput.Pets[k].PetId">
                                            Edit
                                        </button>

                                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal"
                                            data-bs-target="#delPet"
                                            data-seido-modal-body="@Model.FriendInput.Pets[k].AnimalName the @Model.FriendInput.Pets[k].AnimalKind  is about to be deleted."
                                            data-seido-selected-item-id="@Model.FriendInput.Pets[k].PetId">
                                            Del
                                        </button>
                                    </div>
                                </div>

                                <div class="collapse row mb-2 text-center"
                                    id="collapseEditPet_@Model.FriendInput.Pets[k].PetId">

                                    <div class="col-md-10 test">
                                        <div class="row ps-3">

                                            <div class="form-floating col-md-3 themed-grid-col">

                                                <input asp-for="FriendInput.Pets[k].editAnimalName" class="form-control"
                                                    value="@Model.FriendInput.Pets[k].editAnimalName" />
                                                <span asp-validation-for="FriendInput.Pets[k].editAnimalName"
                                                    class="invalid-feedback"></span>
                                                <label for="FriendInput.Pets[@k].editAnimalName">Animal name</label>

                                            </div>

                                            <div class="form-floating col-md-3 themed-grid-col">

                                                <select asp-for="FriendInput.Pets[k].editAnimalKind" class="form-select"
                                                    asp-items="Html.GetEnumSelectList<Models.Interfaces.AnimalKind>()">
                                                    <option value="">Choose an Animal</option>
                                                </select>
                                                <label for="FriendInput.Pets[@k].editAnimalKind">Animal Kind</label>

                                            </div>

                                            <div class="form-floating col-md-3 themed-grid-col">

                                                <select asp-for="FriendInput.Pets[k].editAnimalMood" class="form-select"
                                                    asp-items="Html.GetEnumSelectList<Models.Interfaces.AnimalMood>()">
                                                    <option value="">Choose mood</option>
                                                </select>
                                                <label for="FriendInput.Pets[@k].editAnimalMood">Animal Mood</label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 themed-grid-col buttonDiv">
                                        <button type="submit" asp-page-handler="EditPet"
                                            asp-route-petId="@Model.FriendInput.Pets[k].PetId"
                                            class="btn btn-success btn-sm m-1">
                                            Ok
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="row g-1">
                            <h3 class="pb-2">Favorite Quotes</h3>

                            <input type="hidden" name="QuoteId" data-seido-selected-item-id-target />

                            <div class="row mb-2 text-center">
                                <div class="col-md-10 themed-grid-head-col test"></div>
                                <div class="col-md-1 themed-grid-head-col buttonDiv">
                                    <button class="btn btn-success btn-sm m-1 " type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseAddQuote">
                                        New
                                    </button>
                                </div>
                            </div>
                            <div class="collapse row mb-2 text-center" id="collapseAddQuote">
                                <div class="col-md-10 d-flex test">
                                    <div class="form-floating col-md-5 themed-grid-col test">
                                        <input type="text" asp-for="FriendInput.NewQuote.QuoteText" class="form-control"
                                            id="quoteText" value="" />
                                        <span asp-validation-for="FriendInput.NewQuote.QuoteText"
                                            class="invalid-feedback"></span>
                                        <label for="quoteText">Quote Text</label>
                                    </div>

                                    <div class="form-floating col-md-5 themed-grid-col">
                                        <input type="text" asp-for="FriendInput.NewQuote.QuoteAuthor"
                                            class="form-control" id="quoteAuthor" value="" />
                                        <span asp-validation-for="FriendInput.NewQuote.QuoteAuthor"
                                            class="invalid-feedback"></span>
                                        <label for="quoteAuthor">Quote Author</label>
                                    </div>
                                </div>

                                <div class="col-md-1 themed-grid-col buttonDiv ">
                                    <button type="submit" asp-page-handler="AddQuote" class="btn btn-success btn-sm">
                                        Ok
                                    </button>
                                </div>
                            </div>



                            @for (int k = 0; k < Model.FriendInput.Quotes.Count; k++)
                            {
                                <div
                                    class="row mb-2 text-center @(Model.FriendInput.Quotes[k].StatusIM == AppRazor.Pages.EditFriendModel.StatusIM.Deleted ? "d-none" : null)">

                                    <!-- Hidden fields so they are preserved by the Modelbinder -->
                                    <input asp-for="FriendInput.Quotes[k].StatusIM"
                                        value="@Model.FriendInput.Quotes[k].StatusIM" class="form-control" type="hidden" />
                                    <input asp-for="FriendInput.Quotes[k].QuoteId"
                                        value="@Model.FriendInput.Quotes[k].QuoteId" class="form-control" type="hidden" />
                                    <input asp-for="FriendInput.Quotes[k].QuoteText"
                                        value="@Model.FriendInput.Quotes[k].QuoteText" class="form-control" type="hidden" />
                                    <input asp-for="FriendInput.Quotes[k].QuoteAuthor"
                                        value="@Model.FriendInput.Quotes[k].QuoteAuthor" class="form-control"
                                        type="hidden" />

                                    <div class="col-md-9 text-center addressRow test">
                                        <div class="row justify-content-center ps-3">
                                            @Model.FriendInput.Quotes[k].QuoteText </div>
                                        <div class="text-nowrap">
                                            - <strong>@Model.FriendInput.Quotes[k].QuoteAuthor </strong> <i
                                                class="bi bi-chat-quote-fill ms-1"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-2 themed-grid-col buttonDiv">
                                        <button class="btn btn-secondary btn-sm m-1" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEditQuote_@Model.FriendInput.Quotes[k].QuoteId"
                                            data-seido-selected-item-id="@Model.FriendInput.Quotes[k].QuoteId">
                                            Edit
                                        </button>


                                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal"
                                            data-bs-target="#delQuote"
                                            data-seido-modal-body="@Model.FriendInput.Quotes[k].QuoteText by @Model.FriendInput.Quotes[k].QuoteAuthor  is about to be deleted."
                                            data-seido-selected-item-id="@Model.FriendInput.Quotes[k].QuoteId">
                                            Del
                                        </button>
                                    </div>
                                </div>

                                <div class="collapse row mb-2 text-center"
                                    id="collapseEditQuote_@Model.FriendInput.Quotes[k].QuoteId">
                                    <div class="col-md-10 test">
                                        <div class="row ps-3">

                                            <div class="form-floating col-md-5 themed-grid-col">

                                                <input asp-for="FriendInput.Quotes[k].editQuoteText" class="form-control"
                                                    value="@Model.FriendInput.Quotes[k].editQuoteText" />
                                                <span asp-validation-for="FriendInput.Quotes[k].editQuoteText"
                                                    class="invalid-feedback"></span>
                                                <label for="FriendInput.Quotes[@k].editQuoteText">Quote Text</label>
                                            </div>

                                            <div class="form-floating col-md-5 themed-grid-col">

                                                <input asp-for="FriendInput.Quotes[k].editQuoteAuthor" class="form-control"
                                                    value="@Model.FriendInput.Quotes[k].editQuoteAuthor" />
                                                <span asp-validation-for="FriendInput.Quotes[k].editQuoteAuthor"
                                                    class="invalid-feedback"></span>
                                                <label for="FriendInput.Quotes[@k].editQuoteAuthor">Quote
                                                    Author</label>

                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-1 themed-grid-col buttonDiv">
                                        <button type="submit" asp-page-handler="EditQuote"
                                            asp-route-petId="@Model.FriendInput.Quotes[k].QuoteId"
                                            class="btn btn-success btn-sm m-1">
                                            Ok
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="modal fade" id="delPet" tabindex="-1" aria-labelledby="softModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger" id="softModalLabel">Confirm deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Hello from modal
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" form="friendForm" asp-page-handler="DeletePet"
                            class="btn btn-primary btn-danger">Ok</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="delQuote" tabindex="-1" aria-labelledby="softModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger" id="softModalLabel">Confirm deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Hello from modal
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" form="friendForm" asp-page-handler="DeleteQuote"
                            class="btn btn-primary btn-danger">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section script
{
    <!-- -->
    <partial name="_ValidationScriptsPartial" />
}