@page
@model AppRazor.Pages.OverviewModel
@{
    ViewData["Title"] = "Overview";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="~/css/overview.css" asp-append-version="true" />

</head>

<body class="body">
    <div class="container px-4 py-4" id="list-of-groups">
        <h2 class="pb-2 border-bottom" id="heading">List of all of my friends</h2>

        @*Få in en dropdown med länder här*@

        <div class="d-flex gap-2">
            <div class="col-md-8 ">
                <input asp-for="filter" class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-md-2 ">
                <button asp-page-handler="Search" class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>

        <form method="post" class="needs-validation" method="post" novalidate>
            <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5" id="mainBackground">

                <div class="col-md-10 col-lg-10">
                    <div class="row mb-2 text-center">

                        @if (Model.Friends is not null)
                        {
                            @foreach (var item in Model.Friends)
                            {
                                <div class="col-md-9 themed-grid-col" id="friendsrow">
                                    <a href="~/ViewGroup?id=@item.FriendId">
                                        @item.FirstName @item.LastName
                                    </a>
                                </div>
                                <div class="col-md-2 themed-grid-col" id="buttonDiv">
                                    <a href="~/Members/EditGroup?id=@item.FriendId" class="btn btn-secondary btn-sm m-1"
                                        type="button">Edit</a>

                                    <!-- Button to trigger modal confirmation with modal in the form tag -->
                                    <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal"
                                        data-bs-target="#delModal"
                                        data-seido-modal-body="@item.FirstName @item.LastName is about to be deleted."
                                        data-seido-selected-item-id="@item.FriendId">
                                        Del
                                    </button>
                                </div>
                            }
                            <nav aria-label="Standard pagination example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="~/ListOfGroups?pagenr=@Model.PrevPageNr&search=@Model.filter"
                                            aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 0; i < Model.NrVisiblePages; i++)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="~/ListOfGroups?pagenr=@i&search=@Model.filter">@(i +
                                                                                        1)</a>
                                    </li>

                                }
                                <li class="page-item">
                                    <a class="page-link"
                                        href="~/ListOfGroups?pagenr=@Model.NextPageNr&search=@Model.filter"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                                                }
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>